/* Estilos para o carrossel de drones */
.carousel-inner {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.carousel-caption h5 {
    color: white;
    margin: 0;
}

